<div id="contacts">
<div class="title-center">
	<h2>Contacto</h2>
</div>
<div class="wrapper flex-row wrapp-contacts">
	<div>
		<h3>
			<i class="fa-solid fa-location-dot"></i>
			Ubicación
		</h3>
		<p>C/ Jose Antonio Armona 10, 28012 Madrid.</p>
	</div>
	<div>
		<h3>
			<i class="fa-solid fa-phone-flip"></i>
			Phone
		</h3>
		<p> <a class="phone">91 539 72 29</a></p>
	</div>
	<div>
		<h3>
			<i class="fa-solid fa-envelope"></i>
			Email
		</h3>
		<p>cafebar89@gmail.com</p>
	</div>
	<div>
		<ul class="footer-social">
			<li>
				<a href="https://www.facebook.com/profile.php?id=100069532132120" target=”_blank”>
					<i class="fa-brands fa-facebook-f"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/cafe_bar_89/" target=”_blank”>
					<i class="fa-brands fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-youtube"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="wrapp-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12151.984837007441!2d-3.709737435967708!3d40.40893476213773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42262e8720d969%3A0xe925f6ff6f832323!2sEl%2089!5e0!3m2!1ses!2ses!4v1692190714082!5m2!1ses!2ses" height="350" style="border:0;" allowfullscreen loading="lazy"></iframe>
</div>
<p class="copyright">Copyright © Web desarrollada por <a href="https://www.linkedin.com/in/sara-moreira-g" target=”_blank”>Sara Moreira García.</a></p>
</div>
