<div class="wrapper flex-row">
	<div class="about-img">
		<img src="https://restfood.onlywebcoding.com.ua/images/about-big.jpg" />
		<a
			class="popup-youtube"
			href="https://www.youtube.com/watch?v=i7Ce-B8WgsY&ab_channel=Telemadrid"
			target="_blank"
		>
			<i class="fa-solid fa-play"></i>
		</a>
	</div>
	<div class="about-content">
		<h2>Buena comida para tu buen humor</h2>
		<p>
			Desde nuestro inicio, hemos estado comprometidos con la excelencia
			culinaria. Cada plato que servimos es una muestra de nuestra pasión por la
			gastronomía. Con una combinación de tradición e innovación, creamos
			experiencias que deleitan los sentidos.
		</p>
		<p>
			Detrás de cada deliciosa creación hay un equipo apasionado. Nuestro chef
			lidera con experiencia y creatividad, mientras que nuestro personal se
			esfuerza por brindar un servicio excepcional. Juntos, trabajamos para
			superar las expectativas y hacer que cada visita sea inolvidable.
		</p>
		<p>
			Nuestra misión es simple: llevar alegría a través de la comida. Creemos en
			ingredientes de calidad, técnicas magistrales y un toque de hospitalidad.
			Estamos aquí para crear momentos especiales, desde cenas íntimas hasta
			celebraciones. Únete a nosotros en esta aventura culinaria mientras
			seguimos escribiendo nuestra historia.
		</p>
		<div class="advantage flex-row">
			<div>
				<img
					src="https://restfood.onlywebcoding.com.ua/images/advantage-1.png"
				/>
				<p>Chefs con experiencia</p>
			</div>
			<div>
				<img
					src="https://restfood.onlywebcoding.com.ua/images/advantage-2.png"
				/>
				<p>Recetas originales</p>
			</div>
			<div>
				<img
					src="https://restfood.onlywebcoding.com.ua/images/advantage-3.png"
				/>
				<p>Ingredientes frescos</p>
			</div>
		</div>
	</div>
</div>
