<div class="wrapper flex-row">
	<!-- Logo for both small and large screens -->
	<a id="logo" href="#home">
	  <img src="https://restfood.onlywebcoding.com.ua/images/logo.png" />
	</a>

	<!-- Open menu button for smaller screens -->
	<a id="openmenu" href="#" *ngIf="isSmallScreen" (click)="toggleMenu()">
	  <i class="fa-solid fa-bars"></i>
	</a>

	<!-- Menu for larger screens -->
	<nav id="nav" [ngStyle]="{ 'display': showMenu || !isSmallScreen ? 'flex' : 'none' }">
	  <a id="closemenu" href="#" *ngIf="isSmallScreen" (click)="toggleMenu()">
		<i class="fa-solid fa-xmark"></i>
	  </a>
	  <ul class="menu">
		<li><a href="#home">HOME</a></li>
		<li><a href="#about-us">ABOUT US</a></li>
		<li><a href="#our-team">OUR TEAM</a></li>
		<li><a href="#menu">MENU</a></li>
		<li><a href="#gallery">GALLERY</a></li>
		<li><a href="#contact">CONTACT</a></li>
	  </ul>
	</nav>
  </div>
