<navbar></navbar>

<section id="home" class="d-flex align-items-center">
<div class="col-6">
  <h1>BEST QUALITY FOOD</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias provident laborum, recusandae delectus corrupti reprehenderit error distinctio eligendi qui consequuntur officia.</p>
  <button class="btn btn-yellow">BOOK A TABLE</button>
</div>
</section>

<section id="special-dishes">
  <!-- Your content for the second section here -->
</section>

<section id="about-us">
  <!-- Your content for the third section here -->
</section>

<section id="offer">
  <!-- Your content for the fourth section here -->
</section>

<section id="our-team">
  <!-- Your content for the fifth section here -->
</section>

<section id="menu">
  <!-- Your content for the sixth section here -->
</section>

<section id="gallery">
  <!-- Your content for the seventh section here -->
</section>

<section id="book-table">
  <!-- Your content for the seventh section here -->
</section>

<section id="contact">
  <!-- Your content for the seventh section here -->
</section>
