/****** SECTIONS ******/
section {
	height: 100vh;
	background-position: center;
	color: #fff;
	padding-left: 5em;
}

#home, #special-dishes, #offer, #our-team, #gallery, #contact {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 5em;
}

#home, #offer {
	background-attachment: fixed;
}

#home {
	background-image: url('https://restfood.onlywebcoding.com.ua/images/bg-header.png');
}

#special-dishes, #our-team, #gallery, #contact {
	background-color: #000;
}

#about-us, #menu, #book-table {
	background-image: url('https://restfood.onlywebcoding.com.ua/images/bg-pattern.jpg');
	background-repeat: repeat;
}

#offer {
	background-image: url('https://restfood.onlywebcoding.com.ua/images/bg-offer.png');
	height: 50vh !important;
}

#home h1 {
	font-size: 84px;
	margin-bottom: 30px;
	font-weight: 900;
}
#home .btn {
	margin-top: 30px;
}
.title-center{
	text-align: center;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.title-center p{
	color: #b8b8b8;
}
