<navbar></navbar>

<main>
	<section id="home" class="flex-row">
		<div class="wrapper home-content">
			<div>
				<h1>Comida de Calidad Insuperable</h1>
				<p>
					¡Bienvenidos! Disfruten de nuestra deliciosa comida y acogedor
					ambiente, donde la pasión culinaria se une con un servicio
					excepcional.
				</p>
				<button class="btn booking-scroll" (click)="scrollToBookingTable()">
					Reserva online
				</button>
			</div>
		</div>
	</section>

	<section id="special-dishes">
		<div class="title-center">
			<h2>platos destacados</h2>
			<p>
				Descubre nuestros platos destacados, cuidadosamente elaborados para
				deleitar tu paladar. Una fusión de sabores que te llevarán en un viaje
				culinario único..
			</p>
		</div>
		<div class="wrapper">
			<card-carousel></card-carousel>
		</div>
	</section>

	<section id="about-us">
		<about></about>
	</section>

	<section id="offer">
		<div class="wrapper">
			<h2>
				DOUBLE CHEESE PIZZA <br />
				30% DESCUENTO
			</h2>
			<a class="btn booking-scroll" (click)="scrollToBookingTable()"
				>RESERVA ONLINE</a
			>
		</div>
	</section>

	<section id="chefs">
		<team></team>
	</section>

	<menu></menu>

	<section id="gallery">
		<div class="title-center">
			<h2>Galeria</h2>
		</div>
		<div class="wrapper flex-row gallery-item zoom-gallery">
			<a href="https://restfood.onlywebcoding.com.ua/images/gallery-1.jpg">
				<img src="https://restfood.onlywebcoding.com.ua/images/gallery-1.jpg" />
			</a>
			<a href="https://restfood.onlywebcoding.com.ua/images/gallery-2.jpg">
				<img src="https://restfood.onlywebcoding.com.ua/images/gallery-2.jpg" />
			</a>
			<a href="https://restfood.onlywebcoding.com.ua/images/gallery-3.jpg">
				<img src="https://restfood.onlywebcoding.com.ua/images/gallery-3.jpg" />
			</a>
			<a href="https://restfood.onlywebcoding.com.ua/images/gallery-4.jpg">
				<img src="https://restfood.onlywebcoding.com.ua/images/gallery-4.jpg" />
			</a>
			<a href="https://restfood.onlywebcoding.com.ua/images/gallery-5.jpg">
				<img src="https://restfood.onlywebcoding.com.ua/images/gallery-5.jpg" />
			</a>
			<a href="https://restfood.onlywebcoding.com.ua/images/gallery-6.jpg">
				<img src="https://restfood.onlywebcoding.com.ua/images/gallery-6.jpg" />
			</a>
		</div>
	</section>

	<section id="booking-table">
		<div class="title-center">
			<h2>Reserva tu mesa</h2>
		</div>
		<booking-form></booking-form>
	</section>
</main>

<footer id="contacts"></footer>

<a class="btn" id="scroll-top" href="#" *ngIf="hasScrolledPastHome">
	<i class="fa-solid fa-arrow-up-long"></i>
</a>
