<div class="container mt-5">
  <carousel #carousel [itemsPerSlide]="4" [singleSlideOffset]="true" [interval]="0" (mouseenter)="stopAutoplay()" (mouseleave)="startAutoplay()" noControls>
    <slide *ngFor="let card of carouselItems">
      <div class="card">
        <img [src]="card.img" />
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
        <p>{{ card.price }}</p>
      </div>
    </slide>
  </carousel>

  <button (click)="slidePrev()">Previous</button>
  <button (click)="slideNext()">Next</button>
</div>
