<form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
	<div class="wrapp-input-group flex-row">
	  <div>
		<p><label for="name">Nombre</label></p>
		<input type="text" placeholder="Nombre" id="name" formControlName="name" required/>
	  </div>
	  <div>
		<p><label for="lastname">Apellidos</label></p>
		<input type="text" placeholder="Apellidos" id="lastname" formControlName="lastname" />
	  </div>
	  <div>
		<p><label for="phone">Teléfono</label></p>
		<input type="tel" placeholder="Teléfono" id="phone" formControlName="phone" />
	  </div>
	  <div>
		<p><label for="email">Email</label></p>
		<input type="email" placeholder="Email" id="email" formControlName="email" />
	  </div>
	  <div>
		<p><label for="date">Fecha</label></p>
		<input type="text" placeholder="dd-mm-aa" id="date" formControlName="date" />
	  </div>
	  <div>
		<p><label for="time">Hora</label></p>
		<input type="text" placeholder="12:00 AM" id="time" formControlName="time" />
	  </div>
	  <button type="submit" id="send" class="btn">Reserva online</button>
	</div>
	<p class="result" [style.display]="displayResultMessage ? 'block' : 'none'">
		<span [ngClass]="{'error': !reservationForm.valid, 'send': reservationForm.valid}">
		  {{ resultMessage }}
		</span>
	  </p>
</form>
