body{
	background-color: #000;
}
h1, h2, h3, h4, h5 {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	line-height: 1.2;
}
p{
	font-family: 'Halant', serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 20px;
}
.btn{
	padding: 8px 16px;
	border-radius: 3px;
	letter-spacing: 3px;
	font-weight: 900;
	font-size: 18px;
}
.btn-yellow {
	background-color: #ffcc33;
	color: #000;
}
