<div class="title-center">
	<h2>Nuestro equipo</h2>
	<p>Nuestro talentoso equipo fusiona pasión y pericia para crear experiencias culinarias excepcionales. Conoce a los maestros detrás de cada plato.</p>
  </div>
  <div class="wrapper flex-row">
	<div class="chefs-item">
	  <img src="https://restfood.onlywebcoding.com.ua/images/chef-1.jpg" />
	  <div class="about-chefs">
		<h3>francisco moreira</h3>
		<p>Chef</p>
		<ul class="chef-social">
		  <li>
			<a href="https://www.facebook.com/profile.php?id=100069532132120" target=”_blank”><i class="fa-brands fa-facebook-f"></i></a>
		  </li>
		  <li>
			<a href="https://www.instagram.com/cafe_bar_89/" target=”_blank”><i class="fa-brands fa-instagram"></i></a>
		  </li>
		</ul>
	  </div>
	</div>
	<div class="chefs-item">
	  <img src="https://restfood.onlywebcoding.com.ua/images/chef-2.jpg" />
	  <div class="about-chefs">
		<h3>candida melgo</h3>
		<p>Chef</p>
		<ul class="chef-social">
		  <li>
			<a href="https://www.facebook.com/profile.php?id=100069532132120" target=”_blank”><i class="fa-brands fa-facebook-f"></i></a>
		  </li>
		  <li>
			<a href="https://www.instagram.com/cafe_bar_89/" target=”_blank”><i class="fa-brands fa-instagram"></i></a>
		  </li>
		</ul>
	  </div>
	</div>
	<div class="chefs-item">
	  <img src="https://restfood.onlywebcoding.com.ua/images/chef-3.jpg" />
	  <div class="about-chefs">
		<h3>miguel moreira</h3>
		<p>Camarero</p>
		<ul class="chef-social">
		  <li>
			<a href="https://www.facebook.com/profile.php?id=100069532132120" target=”_blank”><i class="fa-brands fa-facebook-f"></i></a>
		  </li>
		  <li>
			<a href="https://www.instagram.com/cafe_bar_89/" target=”_blank”><i class="fa-brands fa-instagram"></i></a>
		  </li>
		</ul>
	  </div>
	</div>
	<div class="chefs-item">
	  <img src="https://restfood.onlywebcoding.com.ua/images/chef-4.jpg" />
	  <div class="about-chefs">
		<h3>chung lee</h3>
		<p>Camarero</p>
		<ul class="chef-social">
		  <li>
			<a href="https://www.facebook.com/profile.php?id=100069532132120" target=”_blank”><i class="fa-brands fa-facebook-f"></i></a>
		  </li>
		  <li>
			<a href="https://www.instagram.com/cafe_bar_89/" target=”_blank”><i class="fa-brands fa-instagram"></i></a>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
